<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.system.mapper.BookInfoMapper">

    <resultMap id="bookInfoResult" type="com.book.system.entity.BookInfo">
        <id property="bookId" column="book_id"></id>
        <result property="name" column="name"></result>
        <result property="author" column="author"></result>
        <result property="publish" column="publish"></result>
        <result property="isbn" column="ISBN"></result>
        <result property="introduction" column="introduction"></result>
        <result property="language" column="language"></result>
        <result property="price" column="price"></result>
        <result property="pubDate" column="pubDate"></result>
        <result property="classId" column="classId"></result>
        <result property="number" column="number"></result>
        <result property="img" column="img"></result>
    </resultMap>
    <select id="getBookByClassOrSearchContent" resultType="com.book.system.entity.BookInfo">
        select * from reader_info
        <where>
            <if test="classId != null">
                class_id = #{classId}
            </if>
            <if test="content != null">
                and introduction = #{content}
            </if>
        </where>
    </select>
</mapper>
