<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.system.mapper.BookInfoMapper">

    <resultMap id="bookInfoResult" type="com.book.system.entity.BookInfo">
        <id property="bookId" column="book_id"></id>
        <result property="bookName" column="book_name"></result>
        <result property="author" column="author"></result>
        <result property="publish" column="publish"></result>
        <result property="isbn" column="ISBN"></result>
        <result property="introduction" column="introduction"></result>
        <result property="language" column="language"></result>
        <result property="price" column="price"></result>
        <result property="pubDate" column="pub_date"></result>
        <result property="classId" column="class_id"></result>
        <result property="number" column="number"></result>
        <result property="bookImg" column="book_img"></result>
        <association property="classInfo" javaType="com.book.system.entity.ClassInfo" resultMap="classResult"></association>
        <association property="bookCollection" javaType="com.book.system.entity.BookCollection" resultMap="bookCollectionResult"></association>
    </resultMap>
    <resultMap id="classResult" type="com.book.system.entity.ClassInfo">
        <id property="value" column="class_id"></id>
        <result property="label" column="class_name"></result>
    </resultMap>
    <resultMap id="bookCollectionResult" type="com.book.system.entity.BookCollection">
        <id property="collectionId" column="collection_id"></id>
        <result property="isCollection" column="is_collection"></result>
    </resultMap>
    
    <update id="updateBookImg">
        update book_info set book_img = #{bookImg} where book_id = #{bookId}
    </update>
    <select id="getBookByClassOrSearchContent" resultType="com.book.system.entity.BookInfo">
        select * from reader_info
        <where>
            <if test="classId != null">
                class_id = #{classId}
            </if>
            <if test="content != null">
                and introduction = #{content}
            </if>
        </where>
    </select>
    <select id="getList" resultMap="bookInfoResult">
        select  *
        from book_info a join class_info b
        on a.class_id = b.class_id
        left join book_collection c 
        on a.book_id = c.book_id and c.reader_id = #{readerId}
        <where>
            <if test="null != bookName">
                a.book_name like concat('%',#{bookName},'%')
            </if>
        </where>
    </select>
</mapper>
