<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.system.mapper.NoticeMapper">

    <resultMap id="byState" type="java.util.Map" >
        <result column="state" property="state"/>
        <result column="num" property="num"/>
    </resultMap>
    <select id="getCountByState" resultMap="byState">
        SELECT
            state,
            count(*) as num
        FROM
            notice
        GROUP BY
            state
    </select>
    <select id="getByReaderIdAndState" resultType="com.book.system.entity.Notice">
        select *
        from notice 
        <where>
            <if test="state == 0">
                id not in
                (select notice_id from reader_notice where reader_id = #{readerId} )
                and state = 1
            </if>
            <if test="state == 1">
                id in
                (select notice_id from reader_notice where reader_id = #{readerId} )
                and state = 1
            </if>
            
        </where>
        
        
    </select>
</mapper>
