<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.system.mapper.ReaderInfoMapper">


    <update id="updateReaderImg">
        update reader_info set img = #{img} where reader_id = #{readerId}
    </update>
    <select id="getReaderByUsername" resultType="com.book.system.entity.ReaderInfo">
        select * from reader_info
        where username = #{username}
        and password = #{password}
    </select>
    <select id="getCountByUserName" resultType="java.lang.Integer">
        select count(*) from reader_info where username = #{userName}
    </select>
</mapper>
